/*Colors*/
.color-white {
	color: $color-white;
}

.color-black {
	color: $color-black;
}

.color-primary {
	color: $color-primary;
}

.color-secondary-light {
	color: $color-light-green;
}

.color-secondary-bg-light {
	background-color: $color-light-green;
}

/*Background*/
.bg-color-primary {
	background-color: $color-primary;
}

.bg-color-primary-alpha {
	background-color: $color-primary-alpha;
}

.bg-lightest-primary {
	background-color: $background-light-0;
}

.bg-light-green {
	background-color: $color-light-green;
}

/*Radius*/
.border-radius-md {
	border-radius: 10px;
}

/*Cards*/
.th--card--primary {
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 4px;
	background-color: $color-white;
}

.th--summary--card--util {

}

.th--payment--card--util {
	margin-top: 2rem;
	margin-bottom: 1rem;

	h6 {

	}

	span {
		color: $color-primary;
		font-weight: 700;
	}
}

.th--card--primary-colored {
	margin-top: 1rem;
	border-radius: 4px;
	border: 1px solid $color-primary;
	background-color: $background-light-0;
	box-shadow: 0 0 3px $color-primary-beta;
	padding: .5rem;

	h6 {
		font-weight: 600;
	}

	p {
		margin-bottom: 0;
	}
}

.th--appointment--card {
	margin-top: 1rem;
	border-radius: 6px;
	box-shadow: $box-shadow-primary;

	&.th--card--selected {
		border: 1px solid $color-primary;
	}

	.row {
		margin: 0;
	}

	.th--card--left {
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		background-color: $color-primary;
		padding: 1rem;
		justify-content: center;
		text-align: center;
		color: $color-white;

		Img {
			margin-bottom: 1rem;
		}
	}

	.th--card--right {
		padding: 1rem;

		.th--appointment--card--typo {

			h5 {
				font-weight: bold;
			}

			p {
				margin-bottom: 0;
				font-weight: 600;
			}

			span {
				font-weight: 600;
			}

			a {
				text-decoration: none;
			}
		}
	}
}

/*Images*/
.th--image--profile {
	.th--image {
		border: 1px solid $color-primary;
	}
}

/*Badges*/
.th--badges-summary {
	p {
		margin-top: 1rem;
		margin-bottom: .5rem;
	}
}

.th--badge--green {
	.th--badge--border {
		border-left: 7px solid $color-light-green;
		border-radius: 10px;
		padding: .8rem 0;
	}

	.th--badge--bg {
		color: $color-light-green;
		font-weight: 700;
		font-size: $font-size-md;
		background-color: $color-secondary-alpha;
		padding: .5rem 2rem;
		border-radius: 3px;
	}
}

.th--badge--primary {
	.th--badge--border {
		border-left: 7px solid $color-primary;
		border-radius: 10px;
		padding: .8rem 0;
	}

	.th--badge--bg {
		color: $color-primary;
		font-weight: 700;
		font-size: $font-size-md;
		background-color: $color-primary-alpha;
		padding: .5rem 2rem;
		border-radius: 3px;
	}
}

.th--badge--secondary {
	.th--badge--border {
		border-left: 7px solid $color-secondary;
		border-radius: 10px;
		padding: .8rem 0;
	}

	.th--badge--bg {
		color: $color-secondary;
		font-weight: 700;
		font-size: $font-size-md;
		background-color: $color-secondary-alpha;
		padding: .5rem 2rem;
		border-radius: 3px;
	}
}

.th--badge--orange {
	.th--badge--border {
		border-left: 7px solid $color-orange;
		border-radius: 10px;
		padding: .8rem 0;
	}

	.th--badge--bg {
		color: $color-orange;
		font-weight: 700;
		font-size: $font-size-md;
		background-color: $color-orange-alpha;
		padding: .5rem 2rem;
		border-radius: 3px;
	}
}

/*Icons*/
.th--icon--bg--rounded {
	height: 44px;
	width: 44px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	border-radius: 22px;

	.th--icon--bg {
		top: 35%;
		justify-content: center;
		align-items: center;
		position: relative;
		display: flex;
	}
}

.th--notify--icon {
	position: relative;

	.th--pill--notify {
		position: absolute;
		top: -6px;
		left: -14px;
		border-radius: 12px;
		text-align: center;
		height: 21px;
		width: 21px;
		background-color: $color-white;
		border: 1px solid $color-primary;
	}
}
