/*Colors*/
$color-primary: #1858C0;
$color-primary-alpha: #E8EEF9;
$color-primary-beta: #B2C8EE;

$color-secondary: #30A18E;
$color-secondary-alpha: #EFFCF5;

$color-light-green: #17D570;
$color-orange: #EF7903;
$color-orange-alpha: #FEF6ED;

$color-white: #FFF;
$color-black: #000;

$background-light-0: #F6F9F9;
$background-light-1: #f4f4f4;
$background-light-2: #f4f4f5;
$background-light-3: #F7F7F7;
$background-light-4: #D4D5DC;


/*Fonts sizes*/
$font-size-xs: 0.8rem;
$font-size-sm: 1rem;
$font-size-md: 1.3rem;
$font-size-lg: 1.8rem;
$font-size-xlg: 2rem;
$font-size-2xlg: 2.2rem;
$font-size-3xlg: 2.6rem;
$font-size-4xlg: 3rem;


/*Shadows*/
$box-shadow-primary: 0 0px 6px rgba(0, 0, 0, 0.1);
