.th--page {
	background-color: $color-white;

	.th--content--wrapper {

	}
}

.th--page--content {
	display: flex;
	flex-grow: 1;

	.th--content--wrapper {
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex: 1;
		flex: 1;

		/*.mrmh-content {
			padding: 1.25rem 1.25rem;
			flex-grow: 1;
		}*/
	}
}

