.th--side--menu {
	z-index: 0;
	height: auto;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 2px -3px 4px rgba(0, 0, 0, 0.1);

	&.sidebar-dark {
		background-color: $color-white;
	}

	.sidebar {
		top: 0;
		bottom: 0;
		width: 14rem;
		z-index: 1040;
		flex: 0 0 auto;
		position: static;
		box-sizing: content-box;
		transition: all ease-in-out .15s;

		&.sidebar-main {

		}

		.sidebar-content {
			position: static;
			overflow: visible;
			width: auto;
			top: 3.12503rem;
			margin-top: 3rem;
			bottom: 0;

			.nav {
				.nav-item {
					text-align: center;
					.nav-link {
						padding: 1rem;
						color: $color-primary-beta;

						&:hover {
							opacity: 1;
						}

						.th--sidemenu--icon {
							svg {
								filter: opacity(0.3);
							}
						}
					}

					.nav-active {
						color: $color-primary;
						.th--sidemenu--icon {
							svg {
								filter: opacity(1);
							}
						}

					}
				}
			}
		}
	}
}

